{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-light bg-light p-3">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand" href="{% url 'recommender_app:dash' %}">
            Recipe Recommendation Dashboard
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div> 
     
    <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
        <div class="dropdown">
        <!--    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">-->
                <a class="navbar-brand" href="{% url 'recommender_app:logout' %}">Log Out</a>
        <!--    </button> -->
        </div>
    </div>
</nav>

<div class="row justify-content-center">
    <table class="table table-responsive" style="width: 1400px;">
        <thead>
        <tr>
            <th>Recipe Name</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Steps</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Sugar</th>
            <th>Carbs</th>
            <th>Time to Cook</th>
        </tr>
        </thead>
        <tbody>
            {% for r in liked %}
            
                <tr>
                    <td>{{ r.recipe_name }}</td>
                    <td>{{ r.description }}</td>
                    <td>{{ r.ingredients }}</td>
                    <td>{{ r.steps }}</td>
                    <td>{{ r.calories }}</td>
                    <td>{{ r.protein }}</td>
                    <td>{{ r.sugar }}</td>
                    <td>{{ r.carbs }}</td>
                    <td>{{ r.time }}</td>

                </tr>

            {% endfor %} 
        </tbody>
    </table>
</div>

<style>
    body {
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
</style>


{% endblock %}